#container{
    height: 100%;
    padding: 10%;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p{
    padding: 5%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

#start{
    
}

.startBtn{

}


#answerBtns {

}

#question {

}

.answerBtn {

}


#highScoreContainer {

}

#submit {

}

#results {

}

#highScore {

}

#timer {

}

#counter {

}