:root{
--green: rgb(29, 228, 29);
--red: red;
--hotPink: rgb(230, 90, 113);

}

@font-face {
    font-family: 'headTurner';
    src: url('../fonts/Head-Turner.woff') format('woff');
    font-weight: normal;
}

body {
    font-family: "headTurner", sans-serif;
}

ul {
	list-style: none;
}


.counter {
    padding: 20px;
    font-size: large;
    border: solid 1px;
    color: var(--hotPink);
    border-radius: 50px;
}


.topContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;

}

.questionClass {
    padding: 20px;
    font-size: x-large;
}

.answer-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 20px;
}

button{
    font-size: larger;
    padding: 10px 50px;
    border-radius: 50px;
}

.yes-or-no{
    font-size: medium;
    font-style: italic;
    margin: 50px 5px;
    float: right;
;}


.Welcome {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding: 20px;
    align-items: center;
    line-height: 25px;
}

.hide {
    display: none;
}

.scoreContainer{
    line-height: 30px;
}

.initial-input{
    float: right;
    padding: 20px;
    border: dotted 5px var(--hotPink);
}

.submit{
    padding: 10px;
    margin: 20px;
    background-color: var(--hotPink);
    float: left;
    color: white;
    border-radius: 50px;
}

.replay{
    padding: 10px;
    margin: 20px;
    background-color: var(--hotPink);
    color: white;
    border-radius: 50px;
}

.scoreText{
    font-size: larger;
}

.finalscore{
    font-size: larger;
}

.scoresList{
    font-size: large;
    padding: 20%;
}

p{
    display: flex;
    padding: 5% 25%;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#startButton {
    padding: 20px;
    float: right;
    background-color: var(--hotPink);
    border-radius: 50px;
    color: white;
}
