*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root { 
--neutral: white;
--wrong: red;
--correct: rgb(119, 236, 119);
}

.container{
    background-color: var(--neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*p{
    padding: 5%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}
*/
.header{
    display: flex;
    justify-content: flex-end;
}

.startContainer{
    padding: 5%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    flex-direction: column;
}

.answerBtn {
    display: grid;
    padding: 15px 20px;
    margin: 5px;
    font-size: larger;
    border: 1px solid;
    border-radius: 10px;
}

#timer {
    padding: 20px 40px;
    margin: 5px;
    font-size: larger;
    border: 1px solid;
    border-radius: 10px;
    color: hotpink;
    font-weight: bolder;
}

.hide {
    display: none;
}